header div {
	width: 70%;
	height: 150px;
	background-color: #16a085;
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	
}

hr {
	width: 70%;
}

header div span {
	font-family: 'Lobster', cursive;
	font-size: 3em;
	color: #ecf0f1;
	left: 25px;
	top: 75px;
	position: absolute;
}

.welcome-text {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.35em;
	text-align: center;
}

form {
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	margin:auto;
	position:relative;
	width:450px;
	height:190px;
	font-family: 'Josefin Sans', Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: darkslategray;
	text-decoration: none;
	border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.form-quote {
	width: 300px;
	height: 50px;
	margin-bottom: 5px;
	resize: none;

}

.form-author {
	width: 298px;
}

.form-password {
	margin-top: 10px;
	width: 245px;
}

button[type = "submit"] {
	float: right;
	margin-top: 20px;
	border-radius: 5px;
}

.sort-button {
	margin-left: 200px;
	border-radius: 5px;
	font-size: .75em;
	font-family: 'Josefin Sans', Tahoma, Geneva, sans-serif;
	display: none;
}

.random-button {
	margin-right: 200px;
	float: right;
	border-radius: 5px;
	font-size: .75em;
	font-family: 'Josefin Sans', Tahoma, Geneva, sans-serif;
	display: none;
}

#random-quote-container {
	width: 60%;
	height: 150px;
	border-radius: 5px;
	background-color: #9b59b6;
	margin-left: 5%;
	display: none;
	padding:150px 0 150px 150px;

}

.close-random-quote {
	margin-left: 200px;
	border-radius: 5px;
	font-size: .75em;
	font-family: 'Josefin Sans', Tahoma, Geneva, sans-serif;
}

.quote-list{
	margin-left: 15%;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.75em;
}

.quote-list span, .quote-list div {
	display: inline;
}

.rating-button, .delete-button{
	font-size: .75em;
	border-radius: 3px;
	margin-left: 5px;
	padding: 2px;
}

#templates {
	display: none;
}
